<div class="container">
  <div class="left-side">
    <button
      [style.color]="panelState.left ? 'var(--ancient--color)' : ''"
      (click)="this.navControlService.toggle('left')"
      class="settingDiv"
      matTooltip="Dock Left Panel"
    >
      <span class="material-symbols-outlined"> dock_to_right </span>
    </button>
    <input
      [(ngModel)]="title"
      [disabled]="!ready()"
      class="title"
      matTooltip="Diagram Title"
      placeholder="Untitled Diagram"
    />
  </div>
  <div></div>

  <div class="right-side">
    <mat-button-toggle-group
      appearance="legacy"
      matTooltip="Link Types"
      [value]="activeLinkType"
      (change)="onLinkTypeChange($event.value)"
    >
      @for (link of linkOptions; track $index) {
        <mat-button-toggle [value]="link.value">{{ link.label }}</mat-button-toggle>
      }
    </mat-button-toggle-group>

    <button [matMenuTriggerFor]="tune" class="settingDiv" matTooltip="Preferences">
      <mat-icon>tune</mat-icon>
    </button>

    <button [matMenuTriggerFor]="more" class="settingDiv" matTooltip="Actions">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button
      [style.color]="panelState.right ? 'var(--ancient--color)' : ''"
      (click)="this.navControlService.toggle('right')"
      class="settingDiv"
      matTooltip="Dock Right Panel"
    >
      <span class="material-symbols-outlined"> dock_to_left </span>
    </button>
  </div>
  <input #fileInput (change)="onFileChange($event)" accept=".json" class="InputFile" type="file" />
</div>

<mat-menu #tune="matMenu">
  <button [matMenuTriggerFor]="dimensionsMenu" mat-menu-item>
    <mat-icon>photo_size_select_large</mat-icon>
    Dimensions
  </button>
  <button [matMenuTriggerFor]="showMenu" mat-menu-item>
    <mat-icon>visibility</mat-icon>
    Visibility
  </button>
</mat-menu>
<mat-menu #more="matMenu">
  <button mat-menu-item>
    <mat-icon>save</mat-icon>
    Save
  </button>
  <button (click)="resetPaper()" mat-menu-item>
    <mat-icon> repeat</mat-icon>
    Reset
  </button>
  <button [matMenuTriggerFor]="exportMenu" mat-menu-item>Export</button>
  <button [matMenuTriggerFor]="importMenu" mat-menu-item>Import</button>
</mat-menu>
<mat-menu #exportMenu="matMenu">
  <button (click)="exportJSON()" mat-menu-item>JSON</button>
  <button (click)="exportPNG()" mat-menu-item>PNG</button>
  <button mat-menu-item>RDF</button>
</mat-menu>
<mat-menu #importMenu="matMenu">
  <button (click)="openFilePicker()" mat-menu-item>JSON</button>
</mat-menu>
<mat-menu #showMenu="matMenu" (click)="$event.stopPropagation()">
  <button mat-menu-item (click)="$event.stopPropagation()">
    <mat-checkbox
      [checked]="this.jointService.cellLabelMode.value === LabelModes.name"
      (change)="toggleLabels($event, LabelModes.name)"
    >
      Names
    </mat-checkbox>
  </button>

  <button mat-menu-item (click)="$event.stopPropagation()">
    <mat-checkbox
      [checked]="this.jointService.cellLabelMode.value === LabelModes.uri"
      (change)="toggleLabels($event, LabelModes.uri)"
    >
      URIs
    </mat-checkbox>
  </button>

  <button mat-menu-item (click)="$event.stopPropagation()">
    <mat-checkbox (click)="$event.stopPropagation()">Links Names</mat-checkbox>
  </button>
</mat-menu>
<mat-menu #dimensionsMenu="matMenu" [overlapTrigger]="false">
  <div
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
    (mousedown)="$event.stopPropagation()"
    aria-label="Dimensions editor"
    class="menuForm"
    role="group"
    tabindex="0"
  >
    <mat-form-field appearance="fill" class="field">
      <mat-label>Width (px)</mat-label>
      <input
        (ngModelChange)="updatePaperWidth($event)"
        [ngModel]="paperDimensions.width"
        matInput
        max="10000"
        min="1920"
        step="10"
        type="number"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Height (px)</mat-label>
      <input
        (ngModelChange)="updatePaperHeight($event)"
        [ngModel]="paperDimensions.height"
        matInput
        max="10000"
        min="1080"
        step="10"
        type="number"
      />
    </mat-form-field>

    <div class="rowPresets">
      <button (click)="updatePaperDimensions(1920, 1080)" mat-stroked-button>1920×1080</button>
      <button (click)="updatePaperDimensions(2000, 2000)" mat-stroked-button>2k</button>
      <button (click)="updatePaperDimensions(4000, 4000)" mat-stroked-button>4k</button>
      <button (click)="updatePaperDimensions(4000, 4000)" mat-stroked-button>Reset Default</button>
    </div>
  </div>
</mat-menu>
