:host{
    height: 5%;
    width: 95%;
    display: flex;
    align-items: center;
}
:host > * {
  flex: 1 1 50%;
  height: 100%;
}

:host > button mat-icon {
  font-size: 1.6rem;
  width: fit-content;
  height: fit-content;

}


:host > button:first-child {
  border-radius: var(--defaultBorderRadius) 0 0 var(--defaultBorderRadius);
  background-color: var(--ancientTwo-color);
  border-right: none;
}

:host > button:last-child {
  border-radius: 0 var(--defaultBorderRadius) var(--defaultBorderRadius) 0;
  background-color: var(--ancientTwo-color);
}


