:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-container {
  display: inline-block;
  cursor: grab;
}

.canvas {
  width: 96px;
  height: 96px;
  display: block;
  position: relative;
  pointer-events: none !important;

}
