@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
  --ancient--color: #1E88E5;
  --ancientTwo-color: #E9ECEF;
  --defaultText-color: black;
  --defaultBorder-color: #CDCFD2;
  --defaultTextButton-color: white;
  --textTwo-color: #808080;
  --defaultBorderRadius: 15px;
  --secondaryColor-two: #E9ECEF;
  --placeHolder-color: rgba(0, 0, 0, 0.5);
  --danger-color: #d9534f

}

html,body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--defaultText-color);
  font-family: 'Inter', sans-serif;

}

::-webkit-scrollbar{
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-dialog-container {
  border-radius: var(--defaultBorderRadius) !important;
  background-color: white !important;
}


/* Palettes */
$my-primary: mat.m2-define-palette(mat.$m2-blue-palette, 600, 300, 800);
$my-accent:  mat.m2-define-palette(mat.$m2-blue-palette, 600, 300, 800);
$my-warn:    mat.m2-define-palette(mat.$m2-red-palette, 600);

/* Theme */
$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent:  $my-accent,
    warn:    $my-warn,
  )
));

@include mat.all-component-themes($my-theme);

@media (max-width: 1920px) {
  mat-icon {
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }
}



